#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.blue {
  color: red;
  background-color: blue;
}

img {
  width: 40%;
}
